.launchpad-groupHeader {
    font-size: 1.2rem !important;
    margin-top: 30px !important;
    margin-bottom: 5px !important;
    text-align: center !important;
}

.sapMTile {
    height: 9rem !important;
    width: 9rem !important;
    border-radius: 10px !important;
    margin: 0.2rem !important;
}

.sapMStdTileTopRow {
    height: 2rem !important;
}

.sapMStdTileBottomRow {
    height: 4rem !important;
}

.sapMStdTileNumUnit {
    font-size: 0.6rem !important;
    text-transform: none !important;
}

.sapMStdTileNumDiv {
    height: 2.5rem !important;
    width: 2.5rem !important;
}

.sapMITBHorizontal.sapMITBFilter>.sapMITBHorizontalWrapper>.sapMITBCount {
    height: 0px !important;
}

.sapMITBHorizontal.sapMITBFilter>.sapMITBHorizontalWrapper>.sapMITBText {
    font-size: 1rem !important;
}

.sapMITBFilter .sapMITBText {
    line-height: 1rem !important;
}

.customHeaderBorder {
    border-top: 0.25rem solid #009de0;
}

.sapMObjLNumber {
    font-size: 1rem !important;
}

.sapMText.sapMObjLTitle {
    font-size: 1rem !important;
}

.RoadMapMargin {
    margin-left: 20px;
    margin-top: 20px;
}

.sapUiRoadMap {
    font-size: 20px !important;
}

.sapUiRoadMapStepBox {
    line-height: 30px !important;
    width: 32px !important;
}

.sapUiRoadMapDelim {
    height: 30px !important;
    margin-top: 3px !important;
}

.sapUiRoadMapStepAdd1,
.sapUiRoadMapStepAdd2 {
    width: 32px !important;
    margin-top: 4px !important;
}

.sapUiRoadMapTitle {
    font-size: 13px !important;
    margin-top: 5px !important;
    color: #000000 !important;
}

.sapUiRoadMapDisabled>.sapUiRoadMapStepBox {
    color: #000000 !important;
}

.sapMPanelContent {
    padding: 1rem 1rem 0rem !important;
}

.paddingTop1 {
    padding-top: 2.2rem !important;
}

.paddingTop2 {
    padding-top: 1.1rem !important;
}

.marginBottom1 {
    margin-bottom: 1.1rem !important;
}

.marginLeft1 {
    margin-bottom: 10px !important;
}

.saleGeneralTotal {
    color: #b00000 !important;
    font-size: 20px !important;
    /* margin-top: 10px !important; */
    position: absolute !important;
    right: 0px !important;
    padding: 10px !important;
}

.sapMListTbl .sapMText,
.sapMListTbl .sapMLabel {
    font-size: 0.78rem !important;
}

.sapMObjLStatusDiv {
    display: unset !important;
}

.largeDialog {
    min-width: 45rem !important;
}

.sapMObjLStatusDiv {
    width: 80% !important;
}

.fixedListHeight {
    height: 300px !important;
    border: 1px solid black !important;
}